/*********************************************************************************

	Note: This is main css. All plugins css files import here.

**********************************************************************************/
.bg--5 {
    background-image: url('../file/f5351.gif') !important;
    background-size: cover;
    background-position: center;
}

.bg--4 {
    background-image: url('../file/f5352.gif') !important;
    background-size: cover;
    background-position: center;
}

.bg--3 {
    background-image: url('../file/f5353.gif') !important;
    background-size: cover;
    background-position: center;
}

.bg--1 {
    background-image: url('../file/f5355.gif') !important;
    background-size: cover;
    background-position: center;
}
.portfolio__image {
            width: 100%;
            max-width: 600px; /* 调整为合适的最大宽度 */
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .portfolio__image img {
            width: 100%;
            height: auto;
        }

        .modal-content {
            max-width: 600px; /* 根据图片容器的最大宽度调整 */
            width: 100%;
            margin: auto;
        }

        .modal-body img {
            width: 100%;
            height: auto;
        }
